aws_region          = "us-east-1"
project_name        = "tech-challenge"
environment         = "prod"
kubernetes_version  = "1.33"
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3
api_image_tag       = "latest"
database_url        = "postgresql://techchallenge:CHANGE_ME@tech-challenge-prod-pg.xxxxx.us-east-1.rds.amazonaws.com:5432/techchallenge"
jwt_secret          = "CHANGE_ME"
seed_admin_password = "CHANGE_ME"
